// src/styles/main.scss
@use 'functions';
@use 'reset';
@use 'variables' as vars;
@use 'typography';
@use 'theme-colors' as *;

// mat specific styles here like --mat-table-background-color overrides etc.
:root {
    --mat-table-background-color: hsl(210, 67%, 12%);
    --mat-sys-surface: hsl(210, 67%, 12%);
    --bg-primary: hsl(210, 67%, 10%);
    --mat-sys-surface-variant: hsl(210, 67%, 12%);
    --mat-sys-color-surface-container: hsl(210, 67%, 12%);
    --mat-sys-color-primary-container: hsl(210, 67%, 20%);
    --mat-sys-color-on-primary-container: hsl(210, 67%, 90%);
    --mat-sys-color-primary: hsl(210, 67%, 50%);
}

// $primary-color: hsl(210, 67%, 10%);
// $primary-color-20: hsl(210, 67%, 20%);
// $primary-color-30: hsl(210, 67%, 30%);
// $primary-color-40: hsl(210, 67%, 40%);
// $primary-color-50: hsl(210, 67%, 50%);