@use 'functions' as fn;
@use 'variables' as vars;

h1,
.h1 {
    font-size: 2rem;
    font-weight: vars.$font-weight-bold;
    line-height: 1.2;
    margin-bottom: fn.get-spacing(3);
    color: fn.get-color(--text-primary);
}

h2,
.h2 {
    font-size: 1.75rem;
    font-weight: vars.$font-weight-bold;
    line-height: 1.3;
    margin-bottom: fn.get-spacing(3);
    color: fn.get-color(--text-primary);
}

h3,
.h3 {
    font-size: 1.5rem;
    font-weight: vars.$font-weight-bold;
    line-height: 1.4;
    margin-bottom: fn.get-spacing(2);
    color: fn.get-color(--text-primary);
}

h4,
.h4 {
    font-size: 1.25rem;
    font-weight: vars.$font-weight-bold;
    line-height: 1.4;
    margin-bottom: fn.get-spacing(2);
    color: fn.get-color(--text-primary);
}

p {
    margin-bottom: fn.get-spacing(3);
}

.text-small {
    font-size: 0.875rem;
}

.text-large {
    font-size: 1.125rem;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--text-secondary);
}